.layout {
  display: grid;
  height: 100vh;
}

/* Search-bar section with user welcome */
.layout .section.top-bar {
  background-color: white;
  grid-column: 3/12;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0px 80px 0px 40px;
}

.section.top-bar .search-bar-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.search-bar-section .left-section {
  display: flex;
}

.left-section .magnify-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.left-section .search-bar {
  width: 90%;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 1.8rem;
  background-color: rgb(228, 228, 228);
  box-shadow: 2px 2px 8px 0px rgba(126, 126, 126, 1);
  border: none;
  transition: background-color 0.15s;
}

.left-section .search-bar:focus {
  background-color:rgb(218, 218, 218);
  outline-style: none;
}

.search-bar-section .right-section {
  display: flex;
  align-items: center;
  justify-content: end;
}

.right-section .bell-icon {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

.right-section .user-icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(226, 226, 226);
  margin-right: 30px;
}

.right-section .username {
  font-size: 2rem;
  font-weight: bold;
}

.section.top-bar .welcome-user-section {
  display: grid;
  grid-template-columns: 10fr 7fr;
  align-items: center;
}

.welcome-user-section .user-section {
  display: flex;
  align-items: center;
}

.user-section .user-icon {
  width: 65px;
  height: 65px;
  border-radius: 35px;
  background-color: rgb(226, 226, 226);
  margin-bottom: 5px;
}

.user-section .welcome {
  margin-left: 20px;
}

.user-section .welcome .welcome-you {
  font-size: 1.4rem;
  font-weight: bold;
}

.user-section .welcome .username {
  font-size: 3rem;
  font-weight: bold;
}

.welcome-user-section .buttons-section {
  display: flex;
  align-items: center;
  justify-content: end;
}

.buttons-section .button {
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: dodgerblue;
  margin-left: 30px;
  transition: opacity 0.15s;
}

.button:hover {
  opacity: 0.85;
}

.button:active {
  opacity: 0.75;
}

/* Navbar section */
.layout .section.navbar {
  background-color: dodgerblue;
  grid-column: 1/3;
  grid-row: 1/12;
  display: grid;
  grid-template-rows: 150px 6fr 3fr 4fr;
  padding: 0px 20px;
}

.section.navbar .title {
display: flex;
align-items: top;
margin-top: 30px;
}

.title .dashboard-icon {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.title p {
  color: white;
  font-size: 4.2rem;
  font-weight: bold;
} 

.pages div {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.pages img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.pages p {
  font-size: 2.2rem;
  color: white;
  font-weight: bold;
}

.settings div {
  display: flex;
  margin-bottom: 10px;
}

.settings img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.settings p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

/* content section */
.layout .section.content {
  background-color: rgb(228, 228, 228);;
  grid-column: 3/12;
  grid-row: 2/12;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 30px;
}

.section.content .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  
}

.projects .grid-content {
  display: flex;
  background-color: white;
  border-radius: 10px;
  align-items: center;
}

.grid-content .left-corner.color {
  background-color: orange;
  width: 10px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 10px;
}

.grid-content .item-content {
  margin: 5px 15px 5px 15px;
  width: 100%;
}

.item-content div {
  margin-bottom: 20px;
}

.item-content .project-title {
  font-size: 2rem;
  font-weight: bold;
}

.item-content .description {
  font-size: 1.6rem;
}

.grid-content .icons {
  display: flex;
  justify-content: end;
}

.icons .project-action-icons {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.section.content .additional-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr 1fr 6fr;
  padding: 0px 20px;
}

.additional-content .announcements {
  border-radius: 10px;
  background-color: white;
  width: 100%;
  grid-row: 1/2;
  padding: 20px;
}

.announcements .info {
  padding: 5px 15px 5px 15px;
  font-size: 1.5rem;
}

.info .title {
  font-size: 1.8rem;
  font-weight: 500;
}

.info .description {
  color:rgb(95, 95, 95);
}

.info.top {
  border-bottom: 1px solid rgb(206, 206, 206);
}

.info.bottom {
  border-top: 1px solid rgb(206, 206, 206);
}

.additional-content .trending {
  border-radius: 10px;
  background-color: white;
  width: 100%;
  grid-row: 3/3;
  padding: 20px;
}

.trending .trending-topic {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.trending-topic .trending-user-icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 10px;
}

.trending-topic .user {
  font-size: 1.6rem;
  font-weight: bold;
}

.trending-topic .title {
  font-size: 1.6rem;
  color:rgb(95, 95, 95);
}